<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ControladorLogueo</servlet-name>
  	<display-name>ControladorLogueo</display-name>
  	<description></description>
  	<servlet-class>controlador.ControladorLogueo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogueoControlador</servlet-name>
  	<display-name>LogueoControlador</display-name>
  	<description></description>
  	<servlet-class>controladores.LogueoControlador</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpleadoControlador</servlet-name>
  	<display-name>EmpleadoControlador</display-name>
  	<description></description>
  	<servlet-class>controladores.EmpleadoControlador</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClienteControlador</servlet-name>
  	<display-name>ClienteControlador</display-name>
  	<description></description>
  	<servlet-class>controladores.ClienteControlador</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductoControlador</servlet-name>
  	<display-name>ProductoControlador</display-name>
  	<description></description>
  	<servlet-class>controladores.ProductoControlador</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsuarioControlador</servlet-name>
  	<display-name>UsuarioControlador</display-name>
  	<description></description>
  	<servlet-class>controladores.UsuarioControlador</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProveedorControlador</servlet-name>
  	<display-name>ProveedorControlador</display-name>
  	<description></description>
  	<servlet-class>controladores.ProveedorControlador</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControladorLogueo</servlet-name>
  	<url-pattern>/ControladorLogueo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogueoControlador</servlet-name>
  	<url-pattern>/LogueoControlador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpleadoControlador</servlet-name>
  	<url-pattern>/EmpleadoControlador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClienteControlador</servlet-name>
  	<url-pattern>/ClienteControlador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductoControlador</servlet-name>
  	<url-pattern>/ProductoControlador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsuarioControlador</servlet-name>
  	<url-pattern>/UsuarioControlador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProveedorControlador</servlet-name>
  	<url-pattern>/ProveedorControlador</url-pattern>
  </servlet-mapping>
</web-app>
